/*!
	Guten-Bubble style sheet
*/
@charset "UTF-8";

.cngb {
	&-remarks {
		border-left: 5px solid #adf;
		margin: 5px;
		padding: 5px;
		background-color: white;
		h3 {
			padding-left: 5px;
		}
		ul {
			padding-left: 25px;
		}
		li {
			list-style: initial;
		}

		&-warning {
			@extend .cngb-remarks;
			border-left: 5px solid #fda;
		}
	}

	&-thumbnail {
		&-view {
			border: 1px solid #ccc;
			padding: 5px;
			height: 800px;
			overflow: auto visible;
		}
		&-head {
			&-d {
				margin: 0;
				padding: 10px;
				background-color: #fed;
			}
			&-i {
				margin: 0;
				padding: 10px;
				background-color: #def;
			}
		}
		&-list {
			margin: 5px;
			margin-bottom: 20px;
			list-style: none;
		}

		display: inline-block;
		margin: 5px;
		text-align: center;
		vertical-align: top;
		width: 120px;

		img {
			width: 120px;
			height: 120px;
		}

		span {
			overflow-wrap: break-word;
		}
	}
}